<header class="sign-in">
  <nav class="sign-in-nav group">
    <h1 class="sign-in-nav-logo">
      <a href=#>
        shutterstep
      </a>
    </h1>
  </nav>
</header>

<article class="sign-in-page">
</article>

<footer class="foot group">
  <h2 class="foot-copyright">
    Shutter Step © 2015. All rights reserved.
  </h2>
  <ul class="foot-links">
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        About
      </a>
    </li>
    <li>
      <a href="#">
        Terms
      </a>
    </li>
    <li>
      <a href="#">
        Privacy
      </a>
    </li>
  </ul>
</footer>
