.picture-feed {
  float: left;
  width: 200px;
  height: 200px;
  text-align: center;
}

.thumb {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #000;
  overflow: hidden;
}

.thumb > img {
  width: 150px;
  height: 100%;
}

.pages-out-of-total {

}

.number-of-results {

}

.root-filter-feed-item {

}
.paginate-buttons {
  display: block;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.paginate-buttons button{
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #FF0000;
  background: #E9EAED;
}
