.picture-feed {
  float: left;
  width: 302px;
  height: 302px;
  padding: 10px;
  border: 1px solid #09AFD7;
  text-align: center;
  transition: all .5s ease;
}
.picture-feed:hover {
  padding: 0px;
  margin: 10px;
  border-radius: 5px;
  border-color: #F58345;
}
.thumb {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.thumb > img {
  width: auto;
  height: 100%;
}

.pages-out-of-total {

}

.number-of-results {

}

.root-filter-feed-item {

}
.paginate-buttons {
  display: block;
  width: 32px;
  height: 288px;
  position: absolute;
  right: 13px;
  top: 0px;
}

.page-switch1 {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  opacity: .3;
}
.page-switch{
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #09AFD7;
  color: #F58345;
  background: #49494A;
  opacity: .3;
  transition: all .5s ease;
}
.page-switch:hover {
  opacity: 1;
}
