<header class="root">
  <nav class="root-nav group">
    <section class="root-nav-features">
      <a class="root-nav-logo" href=#>
        <img src="<%= asset_path( 'logo.png' ) %>"/>
      </a>
      <ul class="root-ul group">
        <li>
          <form action="<%= session_url %>" method="post">
            <%= authentic_form %>
            <input type="hidden" name="_method" value="DELETE">
            <button>Sign Out<button>
          </form>
        </li>
      </ul>
    </section>
  </nav>
</header>
