.landingPage {
  background: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1600px;
}

.landing-page {
  display: block;
  height: 100px;
  background: transparent;
}

.landing-page-fixed {
  display: block;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 100000000;
  border-bottom: 1px solid #49494A;
  background: #A7A9AC;
}

.animationbackground {
  -webkit-animation: fadeinbackground 1200ms;
  animation: fadeinbackground 1200ms;
}

@keyframes fadeinbackground {
  from { background: transparent;
         border-bottom: 0;}
  to { background: #A7A9AC;
       border-bottom: 1px solid #49494A;}
}

@-webkit-keyframes fadeinbackground {
  from { background: transparent;
         border-bottom: 0;}
  to { background: #A7A9AC;
       border-bottom: 1px solid #49494A;}
}

.animationbackground-r {
  -webkit-animation: fadeinbackground-r 1200ms;
  animation: fadeinbackground-r 1200ms;
}

@keyframes fadeinbackground-r {
  from { background: #A7A9AC;
         border-bottom: 1px solid #49494A;}
  to { background: transparent;
       border-bottom: 0;}
}

@-webkit-keyframes fadeinbackground-r {
  from { background: #A7A9AC;
         border-bottom: 1px solid #49494A;}
  to { background: transparent;
       border-bottom: 0;}
}

.landing-page-logo {
  display: block;
  position: absolute;
  background: #A7A9AC;
  left: 20%;
  top: 0px;
  width: auto;
  height: 79px;
  padding: 10px;
  border-left: 1px solid #49494A;
  border-right: 1px solid #49494A;
  border-bottom: 1px solid #49494A;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.remove-border {
  border: 0;
  border-radius: 0;
  -webkit-animation: removeborder 1200ms;
  animation: removeborder 1200ms;
}

@keyframes removeborder {
  from { background: #A7A9AC;
         border-left: 1px solid #49494A;
         border-right: 1px solid #49494A;
         border-bottom: 1px solid #49494A;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;}
  to { background: transparent;
    border: 0;
    border-radius: 0;}
}

@-webkit-keyframes removeborder {
  from { background: #A7A9AC;
         border-left: 1px solid #49494A;
         border-right: 1px solid #49494A;
         border-bottom: 1px solid #49494A;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;}
  to { background: transparent;
       border-bottom: 0;
       border-radius: 0;}
}

.add-border {
  -webkit-animation: addborder 1200ms;
  animation: addborder 1200ms;
}

@keyframes addborder {
  from { border: 0;
         border-radius: 0;}
  to { border-left: 1px solid #49494A;
         border-right: 1px solid #49494A;
         border-bottom: 1px solid #49494A;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;}
}

@-webkit-keyframes addborder {
  from { border: 0;
         border-radius: 0;}
  to { border-left: 1px solid #49494A;
         border-right: 1px solid #49494A;
         border-bottom: 1px solid #49494A;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;}
}

.landing-page-ul {
  display: block;
  width: 700px;
  position: absolute;
  color: #A7A9AC;
  right: 10%;
  top: 0px;
  font-size: 12px;
  margin-right: 11px;
}

.animationcolor {
  color: #49494A;
  -webkit-animation: fadeincolor 1200ms;
  animation: fadeincolor 1200ms;
}

@keyframes fadeincolor {
  from { color: #A7A9AC; }
  to { color: #49494A; }
}

@-webkit-keyframes fadeincolor {
  from { color: #A7A9AC; }
  to { color: #49494A; }
}

.animationcolor-r {
  color: #A7A9AC;
  -webkit-animation: fadeincolor-r 1200ms;
  animation: fadeincolor-r 1200ms;
}

@keyframes fadeincolor-r {
  from { color: #49494A; }
  to { color: #A7A9AC; }
}

@-webkit-keyframes fadeincolor-r {
  from { color: #49494A; }
  to { color: #A7A9AC; }
}

.landing-page-text {
  float: left;
  margin-top: 40px;
  padding: 0 13px;
}

.landing-page-text.selected-text {
  color: #F58345;
}

.landing-page-ul li{
  float: left;
  margin-top: 15px;
}

.landing-page-form {
  padding-left: 10px;
  margin-top: 5px;
  background: #A7A9AC;
  color: #49494A;
  border: 1px solid #49494A;
  height: 21px;
  width: 148px;
}

.landing-page-btn {
  border: 1px solid #19356E;
  font-size: 12px;
  padding: 2px 6px 4px 5px;
  font-weight: 700;
  background: #09afd7;;
  margin-top: 19px;
  margin-left: 2px;
  margin-right: 9px;
}

.landing-page-background {
  display: block;
  position: fixed;
  width: 100%;
  z-index: -1000;
}

.landing-page-sign-in-content {
  display: block;
  position: relative;
  height: 400px;
}
.landing-page-message {
  width: 500px;
}
.landing-page-sign-in-message {
  opacity: .75;
  display: block;
  position: absolute;
  top: 64%;
  left: 21%;
  text-align: center;
  color: rgba(255, 255, 255, .5);
}
.landing-page-sign-in-message h1 {
  font-size: 24px;
  padding: 10px;
}
.landing-page-sign-in-message h2 {
  padding: 10px;
}

.landing-page-sign-up-form {
  display: block;
  position: absolute;
  right: 21%;
  top: 64%;
  color: rgba(255, 255, 255, .5);
  background: rgba(0, 0, 0, .5);
  padding: 10px;
}

.landing-page-sign-up-form h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5px;
}

.landing-page-sign-up-form h2 {
  font-size: 19px;
  margin-bottom: 25px;
}

.landing-page-sign-up-form input.fields {
  color: #A7A9AC;
  background: #49494A;
  padding-left: 10px;
  border-right: 1px solid #09afd7;
  border-top: 1px solid #09afd7;
  border-bottom: 1px solid #09afd7;
  border-left: 5px solid #F58345;
  border-radius: 5px;
  width: 387px;
  height: 39px;
  margin-bottom: 10px;
}

.landing-page-sign-up-form input.name1 {
  color: #A7A9AC;
  background: #49494A;
  padding-left: 10px;
  border-right: 1px solid #09afd7;
  border-top: 1px solid #09afd7;
  border-bottom: 1px solid #09afd7;
  border-left: 5px solid #F58345;
  border-radius: 5px;
  width: 182px;
  height: 39px;
  margin-bottom: 10px;
  margin-right: 8px;
}

.landing-page-sign-up-form input.name2 {
  color: #A7A9AC;
  background: #49494A;
  padding-left: 10px;
  border-right: 1px solid #09afd7;
  border-top: 1px solid #09afd7;
  border-bottom: 1px solid #09afd7;
  border-left: 5px solid #F58345;
  border-radius: 5px;
  width: 182px;
  height: 39px;
  margin-bottom: 10px;
}

.landing-page-sing-up-form label {
  font-size: 18px;
}

.dob {
  width: 300px;
  height: 41px;
}

.landing-page-sign-up-form select {
  margin-top: 5px;
  float: left;
  background: transparent;
  height: 32px;
  font-size: 12px;
  border: 1px solid #bdc7d8;
}

.sex-buttons {
  height: 20px;
}

.sex-button {
  float: left;
  margin: 0px 10px;
  font-size: 12px;
}

.landing-page-sign-up-form button {
  display: block;
  margin: auto;
  border-radius: 5px;
  background: rgba(246, 138, 80, 1);
  text-shadow: 0 1px 2px rgba(9,175,215,1);
  color: rgba(255,255,255,.5);
  font-size: 12px;
  padding: 7px 73px;
  margin-bottom: 20px;
}

.banner-for-logo {
  width: 100%;
  height: 110px;
  display: block;
  background: white;
}

.landing-page-features {
  width: 100%;
  position: absolute;
  display: block;
  background: white;
  height: 900px;
  top: 1000px;
  left: 0px;
}
