<script>ShutterStep.logo = "<%= asset_path( 'ShutterSteps-Dropper.png' ) %>"</script>
<script>ShutterStep.landingPage = "<%= asset_path( 'landingPage.jpg' ) %>"</script>

<div class="top-block"></div>
<article class="currentView">
</article>
<div class="bottom-block"></div>
