<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', start);
function start() {
var mapOptions = {
        center: { lat: 40.72506754286412, lng: -73.99687752127647},
        zoom: 12
      };
var map = new google.maps.Map(document.getElementById('root-map'), mapOptions); };

</script>

<section class="root-content">
  <article class="root-sidebar">

  </article>
  <article id="root-map">

  </article>
</section>
