.modal-followers {
  display: none;
}

.modal-followers.open {
  display: block;
}

.modal-screen-followers {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#scroll-followers {
  display: block;
  position: absolute;
  background: white;
  top: 25%;
  left: 35%;
  width: 30%;
  height: 50%;
  z-index: 3;
  overflow-y: auto;
}

.user-follower-li {
  display: block;
  height: 90px;
  width: auto;
  padding: 10px;
}
.user-follower-li a {
  float: left;
  display: block;
  height: auto;
  width: 90px;
}

.user-follower-li img {
  display: block;
  width: 100%;
  height: auto;
}
.user-follower-li ul {
  float: left;
}
