.profile-content {
  display: block;
  background: #fff;
  width: 100%;
}
.hide-button {
  display: none;
}

.profile-content-sidebar {
  float: left;
	width: 200px;
	height: 100%;
	min-height: 200px;
	padding: 20px;
  overflow-y: auto;
  border-right: 1px solid black;
}

.profile-picture {
  display: block;
  position: relative;
  border: 1px solid #000;
  background: #000;
  border-radius: 5px;
	overflow:hidden;
	width: 200px;
	height: 200px;
}

.profile-picture > button {
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid black;
	padding: 5px;
  background: grey;
}

.profile-picture > img{
  display: block;
	width: 100%;
	height: auto;
}

.profile-info {
  margin: 20px 0;
}

.profile-info > h1 {
  font-weight: 700;
  font-size: 24px;
}
.profile-info > h2 {
	padding: 5px;
}

.profile-nav {
  margin: 20px 0;
}

.profile-nav > li {
  border-bottom: 1px solid #ccc;
}

.profile-nav > li:first-child {
  border-top: 1px solid #ccc;
}

.profile-nav label.menu-item {
  display: block;
  padding: 5px;
  font-weight: 700;
}

.profile-nav label.menu-item:hover {
  background: #eee;
}

.friend-name {
	font-size: 8px;
}

.profile-following > li {
  float: left;
  width: 60px;
  margin: 0 0 10px 0;
}

.profile-following > li:nth-child(3n-1) {
  margin: 0 10px 10px 10px;
}

.profile-followers > li {
  float: left;
  width: 60px;
  margin: 0 0 10px 0;
}

.profile-followers > li:nth-child(3n-1) {
  margin: 0 10px 10px 10px;
}
