.profile-content {
  display: block;
  width: 100%;
}
.hide-button {
  display: none;
}

.profile-content-sidebar {
  float: left;
	width: 300px;
	height: 100%;
	min-height: 300px;
	padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #F58345;
}

.profile-picture {
  display: block;
  position: relative;
  border: 1px solid #F58345;
  border-radius: 5px;
	overflow:hidden;
  transition: all .5s ease;
	width: 300px;
	height: 300px;
}

.profile-picture:hover {
  width: 280px;
  height: 280px;
  padding: 10px;
}

.profile-picture > button {
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid #F58345;
	padding: 5px;
  background: #09AFD7;
}

.profile-picture > img{
  display: block;
	width: 100%;
	height: auto;
}

.profile-info {
  margin: 20px 0;
}

.profile-info > h1 {
  font-weight: 700;
  font-size: 24px;
}
.profile-info > h2 {
	padding: 5px;
}

.profile-nav {
  margin: 20px 0;
}

.profile-nav label.menu-item {
  display: block;
  padding: 5px;
  font-weight: 700;
  border-bottom: 1px solid #F58345;
  border-top: 1px solid #F58345;
}

.profile-nav label.menu-item:hover {
  background: #49494A;
  color: #A7A9AC;
  border-bottom: 1px solid #09AFD7;
  border-top: 1px solid #09AFD7;
}

.friend-name {
	font-size: 8px;
}

.profile-following > li {
  float: left;
  width: 90px;
  margin: 0 0 15px 0;
  transition: all .5s ease;
}

.profile-following > li:hover {
  opacity: .3
}

.profile-following > li:nth-child(3n-1) {
  margin: 0 15px 15px 15px;
}

.profile-followers > li {
  float: left;
  width: 90px;
  margin: 0 0 15px 0;
  transition: all .5s ease;
}

.profile-followers > li:hover {
  opacity: .3
}

.profile-followers > li:nth-child(3n-1) {
  margin: 0 15px 15px 15px;
}
