/* animation container */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(246, 138, 80, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(9,175,215,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(246, 138, 80, .5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(9,175,215,0.4);;
}

.top-block {
  display: none;
  position: absolute;
  background: black;
  z-index: 100000;
  left: 0;
  width: 100%;
  height: 50%;
}
.bottom-block{
  display: none;
  position: absolute;
  background: black;
  z-index: 100000;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
}

.off-stage-top {
  bottom: 100%
}
.off-stage-bottom {
  top: 100%;
}

.animation-slideup-start {
  display:block;
	-webkit-transform: translate3d(0, 0, 0);
  animation: slideup-start 500ms;
  -webkit-animation: slideup-start 500ms;
}

.animation-slidedown-start {
  display:block;
	-webkit-transform: translate3d(0, 0, 0);
  animation: slidedown-start 500ms;
  -webkit-animation: slidedown-start 500ms;
}

.animation-slidedown {
  display:block;
	-webkit-transform: translate3d(0, 0, 0);
  animation: slidedown 500ms;
  -webkit-animation: slidedown 500ms;
}

.animation-slideup {
  display:block;
	-webkit-transform: translate3d(0, 0, 0);
  animation: slideup 500ms;
  -webkit-animation: slideup 500ms;
}

/*animations*/
@keyframes slideup-start{
  from {top: 100%;}
  to {top: 50%;}
}


@-webkit-keyframes slideup-start{
  from {top: 100%;}
  to {top: 50%;}
}

@keyframes slidedown-start{
  from {top: -50%;;}
  to {top: 0;}
}

@-webkit-keyframes slidedown-start{
  from {top: -50%;;}
  to {top: 0;}
}




@keyframes slideup{
  from {top: 0px;}
  to {top: -50%;}
}


@-webkit-keyframes slideup{
  from {top: 0px;}
  to {top: -50%;}
}

@keyframes slidedown{
  from {top: 50%;}
  to {top: 100%;}
}

@-webkit-keyframes slidedown{
  from {top: 50%;}
  to {top: 100%;}
}
