.picture-feed {
  float: left;
  width: 20%;
  height: 20%;
  text-align: center;
  min-width: 90px;
}

.thumb {
  display: block;
  position: relative;
  width: 80%;
  height: 80%;
  border: 1px solid #000;
  border-radius: 5px;
  margin: auto;
}

.thumb > img {
  border-radius: 5px;
  height: 100%;
}
