.root {
  position: relative;
  background: white;
  color: #49494A;
  border-bottom: 1px solid #F58345;
  z-index: 1;
}

.root-user-search {
  color: #49494A;
  height: 25px;
  width: 395px;
  margin: 8px 10px;
  background: #A7A9AC;
  border-radius: 5px;
  padding-left: 10px;
}

.user-results {
  display: none;
  position: absolute;
  width: 405px;
  left: 88px;
  top: 33px;
  background: transparent;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #F58345;
  border-radius: 5px;
}

.visible {
  display: block;
}

.result {
  padding: 10px 10px;
  background: #A7A9AC;
  color:#49494A;
  transition: all .5s ease;
}
.result:hover {
  background: #49494A;
  color: #A7A9AC;
  border-top: 1px solid #09AFD7;
  border-bottom: 1px solid #09AFD7
}

.user-search-name {

}
.user-search-username {

}
.root button {
 cursor:pointer;
}


.root-nav {
  position: relative;
  margin: 0 auto;
  width: 1166px;
  height: 40px;
  font-size: 12px;
}

.root-nav-features {
  width: 960px;
  float: left;
}

.root-nav-logo {
  float: left;
  cursor:pointer;
}

.root-nav-logo img{
  height: 40px;
  width: auto;
}

.root-ul {
  float: right;
}

.root-ul li{
  float: left;
  margin-top: 5px;
  padding: 8px;
}

.root-ul li:hover {
  color: #F58345;
}
