.root-map {
  float: right;
  height: 95vh;
  width: 38%;
}

.root-sidebar {
  float: left;
  width: 62%;
  height: 95vh;
}

.root-filter-options {
  width: 100%;
  height: 30%;
}

.root-live-feed {
  width: 20%;
  height: 70%;
  float:left;
}

.root-filter-feed {
  width: 80%;
  height: 70%;
  float:right;
  overflow: scroll;
}
