#root-map {
  float: right;
  height: 100%;
  width: 40%;
  min-width: 300px;
  min-height: 600px;
}

.root-sidebar {
  float: left;
  width: 60%;
  height: 100%;
  min-width: 300px;
  min-height: 600px;
}
