<ul class='root-filter-feed-item group'>
	<li class="results-number">
		<h1 class="pages-out-of-total"> Page: <%= pictures.page %> out of <%= pictures.total_pages %>  </h1>
		<h2 class="number-of-results"> <%= pictures.picture_total %> results</h2>
	</li>
</ul>
