<form class="filter-options-checkboxes-cool">
  <label>
    <input class="filter-option-checkbox" type="checkbox" data-options-id="follower" />
    Pictures of people following you.
  </label>
  <label>
    <input class="filter-option-checkbox" type="checkbox" data-options-id="following" />
    Pictures of people you are following.
  </label>
  <label>
    <input class="filter-option-checkbox" type="checkbox" data-options-id="personal" />
    Your own pictures.
  </label>
  <label>
    <input class="filter-option-checkbox-all" type="checkbox" data-options-id="all" />
    All of the pictures.
  </label>
</form>
<button class="picture-search">Search</button>
