<form class="filter-options-checkboxes-cool">
  <br>
  <p>
    <input class="filter-option-checkbox" type="checkbox" data-options-id="follower" id="filter1" />
    <label for="filter1"><span class="ui"></span>Followers' Pictures</label>
  </p><br>
  <p>
    <input class="filter-option-checkbox" type="checkbox" data-options-id="following" id="filter2" />
    <label for="filter2"><span class="ui"></span>Followed Pictures</label>
  </p><br>
  <p>
    <input class="filter-option-checkbox" type="checkbox" data-options-id="personal" id="filter3" />
    <label for="filter3"><span class="ui"></span>Your Pictures</label>
  </p><br>
  <p>
    <input class="filter-option-checkbox-all" type="checkbox" data-options-id="all" id="filter4" />
    <label for="filter4"><span class="ui"></span>All Pictures</label>
  </p>
</form>
<br>
<button class="picture-search">Search</button>
