<li>
  <label class="menu-item">Followers: <%= followers.followers_total %></label>
  <ul class="profile-followers group">
    <% var i = 0 %>
    <% followers.each(function(follower) { %>
      <% if(i === 9) return; %>
      <li>
        <label class="friend-name">
          <%= follower.escape("username") %>
        </label>
        <a href="#users/<%=follower.id%>">
          <img src="<%= follower.escape("thumb_image_url")%>" />
        </a>
      </li>
      <% i++ %>
    <% }) %>
  </ul>
</li>
<div class= "follower-modal-anchor">
</div>
