<li>
  <label class="menu-item">Following: <%= following.following_total %></label>
  <ul class="profile-following group">
    <% var i = 0 %>
    <% following.each(function(follow) { %>
      <% if(i === 9) return; %>
      <li>
        <label class="friend-name">
          <%= follow.escape("username") %>
        </label>
        <a href="#users/<%=follow.id%>">
          <img src="<%= follow.escape("thumb_image_url")%>" />
        </a>
      </li>
      <% i++ %>
    <% }) %>
  </ul>
</li>
<div class="follow-modal-anchor">
</div>
