<li>
  <label class="menu-item">Followers: <%= followers.models.length %></label>
  <ul class="profile-followers group">
    <% var i = 0 %>
    <% followers.shuffle().forEach(function(follower) { %>
      <% if(i === 9) return; %>
      <li>
        <label class="friend-name">
          <%= follower.escape("username") %>
        </label>
        <img src="<%= follower.escape("thumb_image_url")%>" />
      </li>
      <% i++ %>
    <% }) %>
  </ul>
</li>
