<nav class="root-nav group">
  <section class="root-nav-features">
    <a class="root-nav-logo" href="#home">
      <img
      src="<%= ShutterStep.logo %>"/>
    </a>

    <input class="root-user-search" type="text" name="name"/>
    <ul class="user-results"></ul>

    <ul class="root-ul group">
      <li>
        <a class="home" href="#home">
        <button>Home</button>
        </a>
      </li>
      <li>
        <a class="profile" href="#users/<%=currentuser.id%>">
        <button>Profile</button>
        </a>
      </li>
      <li>
        <button class="sign-out">Sign Out</button>
      </li>
    </ul>
  </section>
</nav>
