<section id='pictures'>
  <article id='picture-<%=picture.id %>'>
    <h1><%=picture.escape("title") %></h1>
    <img src="<%=picture.escape("url")%>">
    <p><%=picture.escape("description")%></p>
  </article>
</section>
