<ul class="picture-description">
  <h1 class="picture-title">
    <%= picture.escape("title") %>
  </h1>
  <p class="picture-description">
    <%= picture.escape("description") %>
  </p>

  <img class="picture-user-thumb" src="<%= user.escape("thumb_img_url") %>"
</ul>
<ul class="picture-comments">
</ul>
