<ul class="user-picture-description">
  <h1 class="picture-title">
    <%= picture.escape("title") %>
  </h1>
  <p class="picture-description">
    <%= picture.escape("description") %>
  </p>
</ul>
<img class="picture-user-thumb" src="<%= user.escape("thumb_image_url") %>"/>
<ul class="picture-comments">
  <li class="sliver-bar">
  </li>
</ul>
