<section class="root-sidebar">
  <article class="root-filter-options"></article>
  <article class="root-live-feed"></article>
  <article class="root-filter-feed"></article>
</section>
<article class="root-map"></article>
<article class="padding for page"></article>
