<section id="content">
  <h1 id="firstHeading" class="firstHeading">Enter Image</h1>
  <form id="picture-form" action="" method="post">
    <label>Enter Picture Title</label><br>
    <input id="pic-title" type="text" name="title">
    <br>
    <label>Enter Picture URL</label><br>
    <input id="pic-url" type="text" name="url">
    <br>
    <label>Add A Description</label><br>
    <textarea id="pic-description" name="description" rows=4 col=80></textarea>
    <br>
    <button>Submit</button>
  </form>
</section>
