<header class="root"></header>
<main class="profile-content group">
  <section class="profile-content-sidebar">
  </section>
  <section class="profile-content-main">
  </section>
  <section class="profile-uploaded-pictures">
  </section>
</main>
